
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>lordeyoc &mdash; Ella 💐</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="No thoughts included, only Ella." />
	<meta name="keywords" content="lorde,lordemusic,ella,marija,lani,yelich,o'connor,ella marija,lorde photos,lorde wallpaper" />
	<meta name="author" content="berkantkz" />

  	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	-->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="lordeyoc"/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content="/"/>
	<meta property="og:site_name" content="Ella 💐"/>
	<meta property="og:description" content="No thoughts included, only Ella."/>
	<meta name="twitter:title" content="lordeyoc" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="Ella 💐" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="">

	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">

	<!-- Modernizr JS -->
	<script src="/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" class="border js-fullheight">
			<div style="text-align: center">
				<h4 id="info_username">lordeyoc</h4>
			</div>
			<div id="info" style="opacity: 0; cursor: pointer;">
				<a href="https://instagram.com/lordeyoc" target="_blank" style="text-decoration: none !important; cursor: unset;">
					<h1 id="fh5co-logo"><img id="displayPicture" height="78px" width="78px" style="border-radius: 50%;"></h1>
					<h3 id="info_name">-</h3>
					<h4 id="info_followers" style="margin: 0">- followers</h4>
				</a>
			</div>
			<nav id="fh5co-main-menu" role="navigation">
				<ul><!--
					<li class="fh5co-active"><a href="index.html">Home</a></li>
					<li><a href="portfolio.html">Photos</a></li>-->
				</ul>
			</nav>

			<div class="fh5co-footer">
				<p><small>lordeyoc</span> by <i style="font-style: normal; font-family: 'Source Sans Pro' !important;">berkantkz</i> <span>Design by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a></small></p>
				<!--<ul>
					<li><a href="https://instagram.com/lordeyoc"><i class="icon-instagram"></i></a></li>
					<li><a href="https://twitter.com/lordeyoc"><i class="icon-twitter"></i></a></li>
				</ul> -->
			</div>

		</aside>

		<div id="fh5co-main">
		
			<div id="panel">
				<div id="topControls">
					<span id="igButton">Leave a <i class="icon-heart" style="color: #ed4956 !important; margin: 0 5px !important"></i> on  <i class="icon-instagram" style="margin: 0 5px !important; color: #f53b91 !important;"></i></span>
					<span style="flex: 1 0 auto"></span>
					<span id="closeButton" onclick="closeViewer()">Close</span>
				</div>
				<div id="bottomControls">
					<span id="downloadCounter">Downloaded <span id="counter">%s</span> time(s)</span>
					<span id="downloadButton">Download (<span id="size"></span> mb)</span>
				</div>
				<div id="bg">
					<div id="overlay"></div>
					<img id="hd_image"></img>
				</div>
			</div>
			
			<div class="fh5co-gallery">
					{{content}}
			</div>
			<!--
			<div class="fh5co-narrow-content">
				<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Services</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-strategy"></i>
							</div>
							<div class="fh5co-text">
								<h3>Strategy</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-telescope"></i>
							</div>
							<div class="fh5co-text">
								<h3>Explore</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-circle-compass"></i>
							</div>
							<div class="fh5co-text">
								<h3>Direction</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-tools-2"></i>
							</div>
							<div class="fh5co-text">
								<h3>Expertise</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
							</div>
						</div>
					</div>

				</div>
			</div>


			<div class="fh5co-testimonial" >
				<div class="fh5co-narrow-content">
					<div class="owl-carousel-fullwidth animate-box" data-animate-effect="fadeInLeft">
		            <div class="item">
		            	<figure>
		            		<img src="images/testimonial_person2.jpg" alt="Free HTML5 Bootstrap Template">
		            	</figure>
		              	<p class="text-center quote">&ldquo;Design must be functional and functionality must be translated into visual aesthetics, without any reliance on gimmicks that have to be explained. &rdquo; <cite class="author">&mdash; Ferdinand A. Porsche</cite></p>
		            </div>
		            <div class="item">
		            	<figure>
		            		<img src="images/testimonial_person3.jpg" alt="Free HTML5 Bootstrap Template">
		            	</figure>
		              	<p class="text-center quote">&ldquo;Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn’t really do it, they just saw something. It seemed obvious to them after a while. &rdquo;<cite class="author">&mdash; Steve Jobs</cite></p>
		            </div>
		            <div class="item">
		            	<figure>
		            		<img src="images/testimonial_person4.jpg" alt="Free HTML5 Bootstrap Template">
		            	</figure>
		              	<p class="text-center quote">&ldquo;I think design would be better if designers were much more skeptical about its applications. If you believe in the potency of your craft, where you choose to dole it out is not something to take lightly. &rdquo;<cite class="author">&mdash; Frank Chimero</cite></p>
		            </div>
		          </div>
				</div>
			</div>


			<div class="fh5co-counters" style="background-image: url(images/hero.jpg);" data-stellar-background-ratio="0.5" id="counter-animate">
				<div class="fh5co-narrow-content animate-box">
					<div class="row" >
						<div class="col-md-4 text-center">
							<span class="fh5co-counter js-counter" data-from="0" data-to="67" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Client</span>
						</div>
						<div class="col-md-4 text-center">
							<span class="fh5co-counter js-counter" data-from="0" data-to="130" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Photos</span>
						</div>
						<div class="col-md-4 text-center">
							<span class="fh5co-counter js-counter" data-from="0" data-to="27232" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Pixels</span>
						</div>
					</div>
				</div>
			</div>
			-->

			<div class="fh5co-narrow-content">
				<div class="row">
					<div class="col-md-4 animate-box" data-animate-effect="jello">
						<h1 class="fh5co-heading-colored">Disclaimer</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box" data-animate-effect="jello">
						<p class="fh5co-lead">This website is served as a placeholder for any kind of media file shared on this server. None of the media files is either sold or used for commercial aims. No self interest is intended.</p>
						<p>Any request for removal is appreciated. If you want your media to be removed from this website, you can contact me on <a href="https://instagram.com/lordeyoc" target="_blank" style="text-decoration: unset !important"><i class="icon-instagram" style="color: #f53b91 !important"><span style="font-family: 'Source Sans Pro';"> lordeyoc</span></i></a> or <a href="https://t.me/berkantkz" target="_blank" style="text-decoration: unset !important"><i class="icon-telegram"><span style="font-family: 'Source Sans Pro';"> berkantkz</span></i></a>.
						<!-- <p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p> -->
					</div>
					
				</div>
			</div>

		</div>
	</div>

	<!-- jQuery -->
	<script src="/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Carousel -->
	<script src="/js/owl.carousel.min.js"></script>
	<!-- Stellar -->
	<script src="/js/jquery.stellar.min.js"></script>
	<!-- Waypoints -->
	<script src="/js/jquery.waypoints.min.js"></script>
	<!-- Counters -->
	<script src="/js/jquery.countTo.js"></script>
	
	
	<!-- MAIN JS -->
	<script src="/js/main.js"></script>

	</body>
</html>

